body, ul {
  margin: 0px;
  padding: 0px;
  background-color: #CD5C5C;
}

ul {
  width: 187px;
  list-style: none;
}

.boton {
  float: left;
  width: 187px;
  height: 32px;
  background-color: blueviolet;
  /* background-image: url(../img/sinActivar.png); */
  border-radius: 10px;
  margin: 8px;
  text-align: center;
  padding-top: 15px;
  color: white;
  text-decoration: none;
  display: block;
}

.boton:hover {
  background-color: #aa7ed4;
  /* background-image: url(../img/activado.png); */
  color: black;
}
